@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat

<div class="container my-4">
  <h2 class="text-center my-4">Are you sure you want to delete this treat?</h2>

  <div class="d-flex flex-column align-items-center">
    <p><strong>Name: @Html.DisplayFor(model => model.TreatName)</strong></p>
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" />
    }
  </div>
  <div class="d-flex flex-row justify-content-center my-4">
    <p>@Html.ActionLink("Back to List", "Index", "Treats")</p>
  </div>
</div>